.card {
  position: relative;
  overflow: hidden;
}

.image {
  vertical-align: bottom;
  width: 100%;
}

.title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 2rem);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0;
  padding: 1rem;
}
