.cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 30rem) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/*@media (min-width: 50rem) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}*/
